//  Element visibility modifiers
@mixin u-hide-text {
  overflow:    hidden !important;
  text-indent: 100%   !important;
  white-space: nowrap !important;
}

.u-hide-text { @include u-hide-text; }

@mixin u-hidden {
  display:    none   !important;
  visibility: hidden !important;
}

.u-hidden { @include u-hidden; }

@mixin u-invisible {
  visibility: hidden !important;
}

.u-invisible { @include u-invisible; }

@mixin u-visually-hidden {
  border:   0             !important;
  clip:     rect(0 0 0 0) !important;
  height:   1px           !important;
  margin:   -1px          !important;
  overflow: hidden        !important;
  padding:  0             !important;
  position: absolute      !important;
  width:    1px           !important;
}

.u-visually-hidden { @include u-visually-hidden; }
