<a href="#" class="sl-c-brand {{ object_modifier }}">
    <img alt="Raspberry Pi Logo"
      class="sl-c-brand__logomark"
      src="{{ path '/assets/images/components/slash-learning-components/brand/logomark.svg' }}">
    <span class="sl-c-brand__title">Raspberry Pi&nbsp;</span>
    <span class="sl-c-brand__appendix">Learning Resources</span>
</a>
