<!DOCTYPE html>
<html class="sl-c-root" lang="en">
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ path '/assets/stylesheets/pica.css' }}">
  <title>Preview Layout</title>

  <body>
    {{{ yield }}}
  </body>
</html>
