<a href="#" class="sl-c-project-pagination__link sl-c-project-pagination__link--left">Previous Step</a>
<a href="#" class="sl-c-project-pagination__link sl-c-project-pagination__link--right">Next Step</a>
