<a href="#" class="sl-c-project-pagination__link
                   sl-c-project-pagination__link--left
                   u-hide-text">
  Previous Step
</a>

<a href="#" class="sl-c-project-pagination__link
                   sl-c-project-pagination__link--right
                   u-hide-text">
  Next Step
</a>
