$black:           #000;
$white:           #fff;

$grey-dark:       #333;
$grey:            #848484;
$grey-light:      #c2c2c2;
$grey-x-light:    #e0e0e0;
$grey-xx-light:   #f5f6f9;

$rpi-red:         #bc1142;
$rpi-green:       #75a928;

$sl-green:        #7ebf1f;
$sl-blue:         #438aa5;
$sl-blue-dark:    #266f8a;
$sl-blue-x-light: #e9f1f4;
$sl-blue-light:   #438aa5;
