$black:          #000;
$white:          #FFF;

$grey-dark:      #333333;
$grey:           #848484;
$grey-light:     #C2C2C2;
$grey-x-light:   #E0E0E0;
$grey-xx-light:  #F5F6F9;

$red:            #BC1142;
$blue:           #438AA5;
$blue-dark:      #266F8A;
$green:          #75A928;
