.sl-c-nav-list {
  display: none;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 37.5rem) {
  .sl-c-nav-list {
    display: block;
  }
}

.sl-c-nav-list__item {
  color: #438AA5;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sl-c-nav-list__item::after {
  content: ' / ';
  display: inline;
}

.sl-c-nav-list__item:last-child::after {
  display: none;
}

.sl-c-nav-list__link {
  color: #438AA5;
  display: inline-block;
  text-decoration: none;
}

.sl-c-nav-list__link--current {
  font-weight: bold;
}
